{% extends 'base.html' %}
{% block contents %} 
{%load static %}
<div>
    <div class="container-fluid bg-primary bg-header " style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">News-Details</h1>
                <a href="" class="h5 text-white">kcs</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h5 text-white">Les nouvelles</a>
            </div>
        </div>
    </div>
    <div>      
        <div class="container-fluid py-5 wow fadeInUp p-10" data-wow-delay="0.5">
                <div class="text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                    <h5 class="fw-bold text-primary ">Nouvelle département de {{news.department}} </h5> 
                    <h2>{{ news.title }}</h2>
                    <img class="img-fluid w-100" src="{% static news.image %}" alt="not found"> 
                    <p>{{ news.message }}</p>
                </div>
        </div>
    </div>
</div>


{% endblock %} 